@charset "UTF-8";

/* General Settings */
::-webkit-scrollbar {
  display: block;
  width: 5px;

  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 23, 255);
  border-radius: 20px;
}

/* Header Settings */
header > div {
  margin: 0px 150px;
}

header div#mainHeader {
  width: 55%;

  display: flex;
  justify-content: space-evenly;
}

header div#menuButton {
  display: none;
}

header menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: block;
  width: 70%;
}

header li {
  display: inline;
}

header div#bgcolor {
  display: block;
}

/* Main Settings */
section {
  height: 900px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

section div.cont {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

div.cont div.result {
  width: 100%; 
}

div.results div {
  width: 100%;
  padding: 20px;
  margin: 20px;

  display: inline-flex;
  flex-wrap: wrap;
}

div.results div.promises {
  width: 350px;
  height: 250px;
}

/* Skills Section */
section#skills {
  display: flex;
  justify-content: space-around;
}

div.skill-block {
  padding: 20px;
  margin: 20px;

  border: solid 3px blue;
  border-radius: 10px;
}

section div.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.img-div figure {
  height: 90%;
}

/* About Section */
section#about div {
  width: 80%;
}

/* CTA Section */
form {
  width: 650px;
}

form div {
  width: 95%;
}