@charset "UTF-8";

/* General Settings */
::-webkit-scrollbar {
  display: none;
  width: 8px;

  position: absolute;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-scrollbar-thumb {
  background: rgb(54, 23, 255);
  border-radius: 20px;
}

/* Icons */
div#msg-me {
  top: 85%;
  left: 90%;
}

/* Header Settings */
header > div {
  margin: 0px 150px;
}

header div#mainHeader {
  width: 55%;

  display: flex;
  justify-content: space-evenly;
}

header div#menuButton {
  display: none;
}

header menu {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav {
  display: block;
  width: 70%;
}

header li {
  display: inline;
}

header div#bgcolor {
  display: block;
}

/* Main Settings */
section {
  height: 900px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

section div.cont {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-around;
}

div.cont div.result {
  width: 100%; 
}

div.results div {
  width: 100%;
  padding: 20px;
  margin: 20px;

  display: inline-flex;
  flex-wrap: wrap;
}

div.results div.promises {
  width: 350px;
  height: 250px;
}

/* Intro Section */
section#intro div.intro-content {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#intro div.intro-content > div {
  width: 50%;

  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

section#intro div.intro-content > div#introImg {
  display: block;
}

section#intro div.intro-content h1 {
  width: 100%;
  height: 180px;

  position: relative;
  top: 0;
  display: inline-block;
}

section#intro div.intro-content span.nickname {
  font-size: 4em;

  position: absolute;
  top: 0;
}

section#intro span.cursiveWords {
  font: bolder 2em 'Kalam', cursive;
  letter-spacing: .25em;
}

h2.intro-h2 {
  font-size: 2em;
  margin-top: 0;
}

div#introducing {
  transform: matrix(1, -.15, 0, 1, 10, 1);
}

div#socials div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Skills Section */
section#skills {
  display: flex;
  justify-content: space-around;
}

div.skill-block {
  padding: 20px;
  margin: 20px;

  border-radius: 10px;
}

section div.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.img-div figure {
  height: 90%;
}

/* About Section */
section#about div {
  width: 80%;
}

/* CTA Section */
form {
  width: 650px;
}

form div {
  width: 95%;
}

/**/
div.scroll-anim {
  width: 100%;
}