@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* General Settings */
:root {
  --bg: #060606;
  --bg2: #010101;

  --bgWhite: #fff;
  --bgWhite1: rgb(253, 253, 253);

  --color0: #00f; 
  --color1: rgb(128, 0, 255);

  --color2: red;
  --color3: rgb(255, 106, 0);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  background-color: var(--bg);
  color: white;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;

  scroll-behavior: smooth;

  cursor: none;
}

div#ui {
  height: 100%;
  overflow-x: clip;
} 

/* Icons */
div#msg-me {
  background: linear-gradient(
    135deg,
    blue,
    red
  );
  color: white;

  width: 75px;
  height: 75px;

  border-radius: 50%;
  box-shadow: 3px 3px 10px black;

  position: fixed;
  top: 85%;
  left: 90%;
}

div#msg-me:hover {
  background: linear-gradient(
    125deg,
    red,
    blue
  );

  transition-duration: .5s;

  box-shadow: 6px 6px 15px black;
}

div#msg-me a {
  display: block;
  width: 100%;
  height: 100%;
}

div#msg-me img {
  width: 60%;
  height: 60%;
}

/* Text Settings */
p {
  margin: 15px 0px;

  font-size: 1.2em;
  line-height: 2em;
}

li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

span.fancy {
  background: linear-gradient(
    to right,
    blue,
    red
  );

  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;
}

button {
  background: linear-gradient(
    to right,
    blue,
    red
  );

  width: 80%;

  border-radius: 10px;
  border: none;
}

button a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
}

input, textarea {
  background: rgba(0, 0, 0, .5);
  color: white;

  width: 100%;
  padding: 10px;
  margin: 10px 0px;

  border-radius: 10px;
  border: none;
  outline: none;
}

input#music {
  border-radius: 50%;
}

/* Media Settings */
picture, figure {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
}

figcaption {
  display: none;
}

/* Header Settings */
header {
  width: 100vw;
  height: 90px;

  display: flex;
  align-items: center;

  position: fixed;
  top: 3%;
  z-index: 1;
}

header.scrolled > div {
  background: rgba(0, 0, 0, 0.463);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  padding: 30px;
  margin: 0px 120px;
  border-radius: 20px;
}

header > div {
  width: 100%;
  height: 100%;
  margin: 0px 70px;

  display: flex;
  justify-content: space-between;

  transition-duration: .2s;
}

header li {
  display: block;
  list-style-type: none;
  margin: 10px;
}

header button {
  background: transparent;

  width: auto;
  height: auto;
}

header button#contactButton {
  border-bottom: 3px solid rgb(54, 23, 255);
  transition-duration: .5s;
}

header button#contactButton:hover {
  box-shadow: 0px 3px 7px rgb(54, 23, 255);
}

header a {
  transition-duration: .5s;
}

header a:hover {
  background: linear-gradient(
    to right,
    blue,
    rgb(128, 0, 255)
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

header div#menuButton {
  display: block;

  cursor: pointer;
}

header div#mainHeader {
  display: flex;
  align-items: center;
}

div#mainHeader > * {
  width: 100%;  
}

header menu {
  width: 100%;
  display: none;
}

header canvas {
  background: rgb(196, 196, 196);

  width: 50px;
  height: 50px;

  border-radius: 50%;
  transition-duration: .5s;
  cursor: pointer;
}

header canvas:hover {
  background: linear-gradient(
    to right,
    blue,
    rgb(128, 0, 255)
  );
}

div#bgcolor input {
  position: relative;
  z-index: 1;
  display: none;
}

div#bgcolor span {
  background: linear-gradient(
    to right,
    var(--color2),
    var(--color3)
  );

  width: 80px;
  height: 40px;
  border-radius: 80px;

  display: block;

  position: relative;

  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(255, 0, 0, 0.218);
}

div#bgcolor i#symbol {
  background: white;

  width: 25px;
  height: 25px;
  border-radius: 50%;
}

div#bgcolor input:not(:checked) ~ span i#symbol {
  position: absolute;
  top: 50%;
  left: calc(86% - 14%);
  transform: translate(-50%, -50%);
}

div#bgcolor input:checked ~ span i#symbol {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
}

div#bgcolor label input:checked ~ span {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218);
}

div#bgcolor label span i#thumb {
  background: white;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  transition: .5s;

  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

div#bgcolor label input:checked ~ span i#thumb {
  position: absolute;
  left: calc(100% - 34px);
}

/* Main Settings */
main {
  width: 100%;
}

main > div {
  width: 100%;
}

section {
  width: 100%;
  margin: 50px auto;

  display: flex;
  justify-content: center;
}

section div.cont {
  width: 80%;
}

section div.results h1 {
  width: 100%;
  text-align: center;
}

section div.promises {
  background: linear-gradient(
    to bottom,
    rgb(02, 02, 02),
    rgb(15, 15, 15)
  );

  border-radius: 8px;

  box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.412);

  transition-duration: .7s;
  top: auto;
  left: auto;
}

section 
.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.p6:hover {
  margin-bottom: 60px;
  border: 3px solid blue;

  box-shadow: 0px 6px 15px 10px rgba(0, 0, 0, 0.738);
}

section h1 {
  font-size: 2em;
}

/* Intro Section */
section#intro {
   background: linear-gradient(
    to right,
    rgb(0, 0, 81),
    rgb(46, 0, 93)
  );

  height: 100vh;
  margin-top: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

section#intro h1 {
  position: relative;
  display: inline-block;
  height: 150px;
}

section#intro span.nickname {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  font-size: 2.5em;

  position: absolute;
  top: 25%;
}

section#intro span.cursiveWords {
  height: 30px;

  text-align: center;
  vertical-align: middle;
  line-height: 1.8em;
  font: bold 2.2em 'Kalam', cursive;

  display: inline-block;

  position: relative;
  z-index: 1;
}

section#intro div.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#intro div.cont > div {
  width: 70%;

  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

section#intro span {
  font-size: 2em;
  line-height: 1.5em;
}

div#socials {
  margin: 0px 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

div#socials div {
  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#socials img {
  display: block;
  width: 100%;
  height: 100%;

  filter: brightness(0);
}

div#socials > div:hover {
  background: linear-gradient(
    45deg,
    var(--color0),
    var(--color1)
  );

  transition-duration: .4s;
}

/* About Section */
div#about-style {
  background: #010101;

  width: 100%;
  height: 850px;
  z-index: -1;

  transform: skewY(-5deg);
  position: absolute;
  left: 0;
}

/* Skills Section */
div.skill-block {
  background: linear-gradient(
    to bottom,
    rgb(0, 0, 0),
    rgb(15, 15, 15)
  );

  width: 100%;
  padding: 20px;
  margin: 20px 0px;

  box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.412);
  border-radius: 10px;
  transition-duration: .7s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.skill-block div.img-sk {
  background-color: blue;

  width: 200px;
  height: 200px;
  margin: 20px;

  border-radius: 50%;
}

div.img-sk img {
  width: 50%;
}

/* Google Ads Section */
section#google {
  height: auto;
}

section#google div.cont > div {
  margin: 40px 0px;

}

section#google div.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#google div.platform {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

section#google div.img-div:before {
  content: '';
  background: linear-gradient(
    45deg,
    blue,
    red
  );

  width: 150px;
  height: 150px;

  border-radius: 50%;
  position: absolute;
  left: 55%;
}

section#google div.img-div:after {
  content: '';
  background: linear-gradient(
    45deg,
    blue,
    red
  );

  width: 250px;
  height: 250px;

  border-radius: 50%;

  position: absolute;
  top: 2900px;
  left: 70%;
  z-index: -1;
}

/* Meta Ads Section */
section#meta {
  height: auto;
}

section#meta div.cont > div {
  margin: 40px 0px;

}

section#meta div.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#meta div.platform {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

section#meta figure img {
  width: 70%;
}

/* Building Section */
section#build div.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: center;
}

section#build h1 {
  margin: 40px 0px;
}

/* CTA sect */
section#grow div.cont > div {
  width: 100%;
}

div#ways-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.contact {
  background: blue;

  width: 75px;
  height: 75px;

  border-radius: 50%;
}

div.contact, p {
  display: inline-block;
  margin: 20px 10px;
}

div.contact img {
  width: 60%;
  filter: brightness(0);
}

form {
  width: 100%;
  padding: 20px;

  border-radius: 20px;
  box-shadow: 0px 0px 10px black;

  display: flex;
  justify-content: center;
}

form > div {
  width: 100%;
}

/* Footer Settings */
footer {
  background: #151515;
  color: white;

  padding: 30px 30px 5px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 5px 15px black;
}

footer a {
  transition-duration: .5s;
}

footer a:hover {
  background: linear-gradient(
    to right,
    blue,
    rgb(128, 0, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

div#meetMe li {
  display: inline-block;
}

div#meetMe a {
  filter: brightness(0);
}

div#meetMe a:hover {
  filter: brightness(1);
}

footer li {
  margin: 20px;
}

footer div#footerNav {
  display: flex;
  justify-content: space-around;
}

div#footerNav > div {
  width: 35%;
  padding: 20px;
}

footer div#credits {
  background: #070707;

  margin: 20px -30px 0px -30px;

  display: flex;
  justify-content: space-around;
  align-items: center;  
}

/* Effects */
div#cursorCircle {
  background: linear-gradient(
    45deg,
    blue,
    rgb(128, 0, 255)
  );
  width: 10px;
  height: 10px;

  border-radius: 50%;

  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);

  z-index: 1;

  pointer-events: none;

  display: block;
}