@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');

/* General Settings */
:root {
  --base: black;

  --bg: #060606;
  --bg2: #010101;
  --bg3: #151515;

  --shadow: rgba(0, 0, 0, .8);
  
  --txtColor: white;

  --color0: #00f; 
  --color1: rgb(128, 0, 255);

  --header: rgba(0, 0, 0, .5);
  --promises: rgba(02, 02, 02, .5);
  --input: black;
  --bgCredit: #070707;

  --contactButton: rgb(54, 23, 255);
}

.light-theme {
  --base: white;

  --bg: rgb(225, 225, 225);
  --bg2: rgb(210, 210, 210);
  --bg3: rgb(200, 200, 200);

  --shadow: rgba(0, 0, 0, .1);

  --txtColor: black;

  --header: rgba(255, 255, 255, .5);
  --promises: rgb(235, 235, 235);
  --input: #f5f5f5;
  --bgCredit: #a8a8a8;

  --footer: #aaa;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  border: none;
  outline: none;

  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  background-color: var(--bg);
  color: var(--txtColor);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  position: relative;

  scroll-behavior: smooth;

  transition: background .5s;
}

body * {
  transition: background .5s;
}

div#ui {
  height: 100%;
  overflow-x: clip;
  z-index: 1;
}

/* Icons */
div#msg-me {
  background: linear-gradient(
    135deg,
    var(--color0),
    var(--color1)
  );
  color: var(--txtColor);

  width: 75px;
  height: 75px;

  border-radius: 50%;
  box-shadow: 3px 3px 10px black;

  position: fixed;
  top: 85%;
  left: 90%;
}

div#msg-me:hover {
  background: linear-gradient(
    125deg,
    var(--color1),
    var(--color0)
  );

  transition-duration: .5s;

  box-shadow: 6px 6px 15px black;
}

div#msg-me a {
  display: block;
  width: 100%;
  height: 100%;
}

div#msg-me img {
  width: 60%;
  height: 60%;
}

/* Text Settings */
p {
  color: var(--txtColor);
  margin: 15px 0px;

  font-size: 1.2em;
  line-height: 2em;
  text-shadow: 2px 2px 5px 2px black;
}

li {
  list-style-type: none;
}

a {
  color: var(--txtColor);
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
}

.fancy {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  color: transparent;

  background-clip: text;
  -webkit-background-clip: text;
}

.block-text {
  display: inline-block;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px var(--shadow),
              -3px -3px 2px rgba(255, 255, 255, .3),
              15px 15px 15px var(--shadow);
}

button {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  width: 80%;

  border-radius: 10px;
  border: none;
}

button a {
  display: block;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
}

input, textarea {
  background: var(--input);
  color: var(--txtColor);

  width: 100%;
  padding: 10px;
  margin: 10px 0px;

  border-radius: 10px;
  border: none;
  outline: none;
}

input#music {
  border-radius: 50%;
}

/* Media Settings */
picture, figure {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

figure img {
  width: 100%;
}

figcaption {
  display: none;
}

/* Header Settings */
header {
  width: 100vw;
  height: 90px;

  display: flex;
  align-items: center;

  position: fixed;
  top: 3%;
  z-index: 2;
}

header.scrolled > div {
  background: var(--header);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  padding: 30px;
  margin: 0px 120px;
  border-radius: 20px;
}

header > div {
  width: 100%;
  height: 100%;
  margin: 0px 70px;

  display: flex;
  justify-content: space-between;

  transition-duration: .2s;
}

header li {
  display: block;
  list-style-type: none;
  margin: 10px;
}

header button {
  background: transparent;

  width: auto;
  height: auto;
}

header button#contactButton {
  border-bottom: 3px solid var(--contactButton);
  transition: all .5s ease;
}

header button#contactButton:hover {
  box-shadow: 0px 3px 7px var(--contactButton);
}

header a {
  transition: all .5s ease;
}

header a:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

header div#menuButton {
  display: block;

  cursor: pointer;
}

header div#mainHeader {
  display: flex;
  align-items: center;
}

div#mainHeader > * {
  width: 100%;  
}

header menu {
  width: 100%;
  display: none;
}

header canvas {
  background: rgb(196, 196, 196);

  width: 50px;
  height: 50px;

  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
}

header canvas:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
}

div#bgcolor input {
  position: relative;
  z-index: 1;
  display: none;
}

div#bgcolor span {
  background: linear-gradient(
    to right,
    red,
    rgb(255, 145, 0)
  );

  width: 80px;
  height: 40px;
  border-radius: 80px;

  display: block;

  position: relative;

  cursor: pointer;
  box-shadow: 0px 3px 10px 2px rgba(255, 0, 0, 0.218);
}

div#bgcolor i#symbol {
  background: white;

  width: 18px;
  height: 18px;
  border-radius: 50%;
}

div#bgcolor input:not(:checked) ~ span i#symbol {
  border: 2px solid black;
  box-shadow: 9px 0px 0px -6px white,
              -9px 0px 0px -6px white,
              0px 9px 0px -6px white,
              0px -9px 0px -6px white,
              7px -7px 0px -6px white,
              -7px -7px 0px -6px white,
              -7px 7px 0px -6px white,
              7px 7px 0px -6px white;

  width: 15px;
  height: 15px;

  position: absolute;
  top: 50%;
  left: calc(86% - 14%);
  transform: translate(-50%, -50%);

  mix-blend-mode: screen;
}

div#bgcolor input:checked ~ span i#symbol {
  background: transparent;
  box-shadow: -4px 4px 0px 1px white;

  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateY(-72%);
}

div#bgcolor label input:checked ~ span {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  box-shadow: 0px 3px 10px 2px rgba(0, 0, 255, 0.218);
}

div#bgcolor label span i#thumb {
  background: white;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  transition: .5s;

  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}

div#bgcolor label input:checked ~ span i#thumb {
  position: absolute;
  left: calc(100% - 34px);
}

/* Main Settings */
main {
  width: 100%;
}

main > div {
  width: 100%;
}

section {
  background: var(--bg);

  width: 100%;
  padding: 50px auto;

  display: flex;
  justify-content: center;
}

section div.cont {
  width: 80%;
  z-index: 1;
}

section div.results h1 {
  text-align: center;
}

section div.promises {
  background: linear-gradient(
    to bottom,
    var(--promises),
    var(--bg3)
  );
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blue(4px);

  border-radius: 8px;

  box-shadow: 0px 15px 15px 10px var(--shadow),
              -3px -3px 2px rgba(255, 255, 255, .3),
              15px 15px 10px var(--shadow);

  transition-duration: .7s;
  top: auto;
  left: auto;
}

section h1 {
  font-size: 2em;
}

/* Intro Section */
section#intro {
  background: url('../img/pattern.jpg') no-repeat center;
  background-size: cover;

  height: 100vh;
  margin-top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

section#intro div.cont {
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section#intro div.intro-content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#intro div.intro-content > div {
  width: 50%;

  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

section#intro div.intro-content h1 {
  width: 100%;
  height: 180px;

  position: relative;
  display: inline-block;
}

section#intro div.intro-content span.nickname {
  color: var(--txtColor);

  font-size: 4em;

  position: absolute;
  top: 0;
}

section#intro span.cursiveWords {
    background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  height: auto;

  text-align: center;
  font: bolder 2em 'Kalam', cursive;
  letter-spacing: .25em;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, .9));

  display: inline-block;

  position: relative;
  top: 20%;
  z-index: 1;
}

div#introducing {
  transform: matrix(1, -.15, 0, 1, 10, 1);
}

div#introducing button {
  margin: 0px auto;

  transition-duration: .5s;
}

div#introducing button:hover {
  scale: 1.05;
}

  section#intro span {
  font-size: 2em;
  line-height: 1.5em;
}

div#socials {
  margin: 0px 10px;

  display: flex;
  flex-direction: column;
  justify-content: start;
}

div#socials div {
    background: linear-gradient(
    45deg,
    var(--color0),
    var(--color1)
  );
  box-shadow: 5px 2px 0px var(--color1);

  width: 50px;
  height: 50px;
  padding: 10px;
  margin: 15px 10px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div#socials img {
  display: block;
  width: 100%;
  height: 100%;

  filter: brightness(0);
  transition: all .5s;
}

div#socials > div:hover {
  scale: 1.01;

  transition-duration: .4s;
}

/* About Section */
div#about-style {
  background: var(--bg2);

  width: 100%;
  height: 850px;
  z-index: 0;

  transform: skewY(-5deg);
  position: absolute;
  left: 0;
}

section#about div.cont {
  z-index: 1;
}

/* Skills Section */
section#skills div.cont {
  display: flex;
  flex-direction: column;
}

section#skills div.cont div#cards {
  background: var(--bg);

  display: flex;
  justify-content: space-around;
}

div.skill-block {
  background: linear-gradient(
    to bottom,
    var(--base),
    var(--bg3)
  );

  width: 100%;
  padding: 20px;
  margin: 20px 0px;

  box-shadow: 0px 3px 15px 10px rgba(0, 0, 0, 0.412);
  border-radius: 10px;
  transition-duration: .7s;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.skill-block div.img-sk {
  background: radial-gradient(
    var(--color0),
    var(--color1)
  );

  width: 200px;
  height: 200px;
  margin: 20px;

  border-radius: 50%;
}

div.img-sk img {
  width: 50%;
}

/* Google Ads Section */
section#google {
  height: auto;
}

section#google div.cont > div {
  margin: 100px 0px;

}

section#google div.cont {
  display: flex;
  flex-direction: column;
}

section#google div.platform {
  width: 100%;
  margin: 20px 0px;

  display: flex;
}

section#google div.img-div {
  position: relative;
  width: 150%;
}

section#google #google-design {
  width: auto;

  position: absolute;
  left: 10%;
}

/* Meta Ads Section */
section#meta {
  height: auto;
}

section#meta div.cont > div {
  margin: 40px 0px;

}

section#meta div.cont {
  display: flex;
  flex-direction: column;
}

section#meta div.platform {
  width: 100%;

  display: flex;
}

section#meta figure img {
  width: 70%;
}

/* CTA sect */
section#grow div.cont > div {
  width: 100%;
}

div#ways-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.contact {
  background: linear-gradient(
    135deg,
    var(--color0),
    var(--color1)
  );

  width: 75px;
  height: 75px;

  border-radius: 50%;
}

div.contact, p {
  display: inline-block;
  margin: 20px 10px;
}

div.contact img {
  width: 60%;
  filter: brightness(0);
}

form {
  width: 100%;
  padding: 40px 10px;

  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3),
              -2px -2px 2px rgba(255, 255, 255, .3),
              0px 15px 10px var(--shadow);

  display: flex;
  justify-content: center;
}

form > div {
  width: 100%;
}

form .submit-button {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );

  cursor: pointer;
}

/* Footer Settings */
footer {
  background: var(--bg3);
  color: var(--txtColor);

  padding: 30px 30px 0px 30px;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 10px 5px 5px rgba(0, 0, 0, .2);
}

footer a {
  transition-duration: .5s;
}

footer a:hover {
  background: linear-gradient(
    to right,
    var(--color0),
    var(--color1)
  );
  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
}

div#meetMe img {
  width: 90%;
}

div#meetMe li {
  display: inline-block;
  margin: 10px;
}

div#meetMe a {
  filter: brightness(0);
  transition: all .5s;
}

div#meetMe a:hover {
  filter: brightness(1);
}

footer li {
  margin: 20px;
}

footer div#footerNav {
  display: flex;
  justify-content: space-around;
}

div#footerNav > div {
  width: 35%;
  padding: 20px;
}

footer div#credits {
  background: var(--bgCredit);

  margin: 20px -30px 0px -30px;

  display: flex;
  justify-content: space-around;
  align-items: center;  
}

/* Effects */
.curves {
  width: 100vw;
  height: 250vh;

  margin-left: -120px;

  position: absolute;
  top: 300%;
  z-index: 0;
}

div#cursorCircle {
  background: linear-gradient(
    45deg,
    var(--color0),
    var(--color1)
  );
  width: 10px;
  height: 10px;

  border-radius: 50%;

  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);

  z-index: 3;

  pointer-events: none;

  display: block;
}

div.scroll-anim {
  display: flex;
  justify-content: center;
}

div.scroll-anim > div {
  width: 30px;
  height: 50px;
  border: 3px solid white;
  border-radius: 30px;

  display: flex;
  justify-content: center;
}

div.scroll-anim > div::after {
  content: '';
  background: white;
  width: 10px;
  height: 10px;

  border-radius: 50%;

  display: inline-block;
  position: relative;
  top: 20%;

  animation: scroll 1.1s ease-in-out infinite;
}

@keyframes scroll {
  from {
    top: 20%;
  }
  to {
    top: 60%;
    opacity: .2;
  }
}